<script>
	$(function() {
		'use strict';
		$("#username").get(0).focus();
	});
</script>

<form method="post" action="/account/login">
	<h1>Login</h1>

	<input type="hidden" name="_csrf" value="{{_csrf}}">

	<a href="/account/register">Don't have an account? Register.</a>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-lg-12">
			<div class="form-group">
				<label class="control-label" for="username">Username</label>
				<input class="form-control" type="text" name="username" id="username" placeholder="Username" autocomplete="username" required="required">
				<div class="help-block">Username is case-sensitive.</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-lg-12">
			<div class="form-group">
				<label class="col-form-label font-weight-bold text-right" for="password">Password</label>
				<input class="form-control" type="password" name="password" id="password" placeholder="Password" autocomplete="current-password" required="required" maxlength="70">
			</div>
			<!--<a class="" href="/account/forgot">Forgot?</a>-->
		</div>
	</div>

	<div class="pull-right">
		<button type="submit" class="btn btn-primary">Login</button>
	</div>
</form>
