<form method="post" action="/account/register">
	<input type="hidden" name="_csrf" value="{{_csrf}}">

	<h1>Register</h1>

	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label class="control-label" for="name">Name</label>
				<input type="text" id="name" name="name" class="form-control" name="name" placeholder="Name" maxlength="32" required>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="form-group">
				<label class="control-label" for="username">Username</label>
				<input type="text" id="username" name="username" class="form-control" placeholder="Username" maxlength="32" required>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="form-group">
				<label class="control-label" for="password">Password</label>
				<input type="password" id="password" name="password" class="form-control" placeholder="Password" maxlength="32" required>
			</div>
		</div>
	</div>

	<div class="pull-right">
		<button type="submit" class="btn btn-primary">Register</button>
	</div>
</form>