<script>
	$(function() {
		'use strict';
		$("#name").get(0).focus();
	});
</script>

<form method="post" action="/account/register">
	<input type="hidden" name="_csrf" value="{{_csrf}}">

	<h1>Register</h1>

	<a href="/account/login">Already have an account? Login.</a>

	<div class="row">
		<div class="col-12">
			<div class="form-group">
				<label class="font-weight-bold" for="name">Name</label>
				<input type="text" id="name" name="name" class="form-control" placeholder="Name" maxlength="32" required>
			</div>
		</div>
		<div class="col-12">
			<div class="form-group">
				<label class="font-weight-bold" for="username">Username</label>
				<input type="text" id="username" name="username" class="form-control" placeholder="Username" maxlength="32" required>
				<div class="form-text text-muted">Username is case-sensitive.</div>
			</div>
		</div>
		<div class="col-12">
			<div class="form-group">
				<label class="font-weight-bold" for="password">Password</label>
				<input type="password" id="password" name="password" class="form-control" placeholder="Password" autocomplete="new-password" maxlength="70" required>
			</div>
		</div>
	</div>

	<div class="float-right">
		<button type="submit" class="btn btn-primary">Register</button>
	</div>
</form>
