{{#if messages.errors}}
<div class="alert alert-danger show">
	<button class="close" type="button" data-dismiss="alert">
		×
	</button>
	{{#each messages.errors as |error|}}
		<div>{{error.msg}}</div>
	{{/each}}
</div>
{{/if}}

{{#if messages.info}}
<div class="alert alert-info show">
	<button class="close" type="button" data-dismiss="alert">
		×
	</button>
	{{#each messages.info as |info|}}
		<div>{{info.msg}}</div>
	{{/each}}
</div>
{{/if}}

{{#if messages.success}}
<div class="alert alert-success show">
	<button class="close" type="button" data-dismiss="alert">
		×
	</button>
	{{#each messages.success as |success|}}
		<div>{{success.msg}}</div>
	{{/each}}
</div>
{{/if}}
